@using FailTracker.Core.Domain;
@model FailTracker.Web.Models.Account.LogOnForm
@{
    ViewBag._Title = "Log On";
}

<h2>Log On</h2>
@using (Html.BeginForm())
{
	<p>@Html.Label("EmailAddress") @Html.TextBox("EmailAddress")</p>
	<p>@Html.Label("Password") @Html.Password("Password")</p>
	<div class="control-box"><input type="submit" value="Log On" /></div>
}